<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>الفئات المقدمة في مولنا </h2>
            <p>اكتشف عالم منتجاتنا المختارة بعناية.حيث نقدم لكم تشكيلة واسعة من المنتجات الفريدة التي تم انتقاؤها لتناسب كل الأذواق والمناسبات</p>
        </div>
        <div class="row portfolio-container">

            <div class="row portfolio-container">
                @foreach (var category in ViewBag.Categories as List<Electronic_Mall.Models.Category>)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            
                            @if (!string.IsNullOrEmpty(category.Photo))
                            {
                                <img src="../assets/img/@category.Photo" class="img-fluid" alt="@category.Categoryname" style="width: 100%; height: 83%;" />
                                                    }
                            <div class="portfolio-info">
                                <h4>@category.Categoryname</h4>
                                <p>فئة</p> 
                            </div>
                            <div class="portfolio-links">
                                <a href="@category.Photo" data-gallery="portfolioGallery" class="portfolio-lightbox" title="@category.Categoryname"><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("SubCategory", "Home", new { subCategoryId = category.Categoryid })" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>

               
        </div>
    </div>
</section><!-- End Portfolio Section -->

